h1 {
    font-size: 50px;
    color: red;
    font-family: 'Courier New', Courier, monospace;
}

.army {
    color:green;
}

#tank {
    color:brown;
}
.big {
    font-size: large;
}
.small {
    font-size: small;
}
